@model ExpertHeader
@{
    ViewData["Title"] = "Deatil";
}

<div class="container my-5">
    <input type="text" class="form-control" id="customFile" asp-for="Title" disabled="disabled" />
    <input type="text" class="form-control mt-3" id="customFile" asp-for="Description" disabled="disabled" />
        <a class="btn btn-light mt-3" asp-action="Index">Cancel</a>
</div>

